body {
    margin: 8px;
    padding: 8px 8px 8px 8px;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#mainHeading {
    color: red;
}

.funParagraph {
    color: green;
}

img {
    max-width: 40%;
    max-height: 40%;
  }

.main, h2 {
    text-align: center;
}

.galleryPhoto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;
}

.galleryPhoto img {
    flex-basis: 25%;
    max-width: 40%;
    max-height: 40%;
}